#todoapp.filter-active #todo-list .completed,
#todoapp.filter-completed #todo-list .active,
#main,
#todomvc-footer {
	display : none;
}

.ui-page{
	outline : none;
}

.hide{
	display : none;
}

  .shadow1 {
  	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  }

.bonelet{
	position:relative;
	top:100px;
}

.modal.fade {
    top: 5%;
}

  .modal {
    background-color:#fff;
    z-index:    9998;
    width:50%;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 	position: absolute;
    opacity:1;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }

  .modal h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    font-size:20px;
  }
  

  
div.fadeMe {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    9900;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

.alert-success, .alert-error{
	border:1px solid black; 
	position:absolute; 
	display:none;
	width: 90%;
	top:60px; 
	z-index:1;
	visibility="hidden";
}