<h3 class="title editable" contenteditable="true" data-button-class="title" style=""><%= title %></h3>
<div class="body editable" contenteditable="true" data-button-class="all" style=""><%= content %></div>