<div class="camera_wrap shadow1" id="camera_wrap_1">
     
</div>

 <!--div data-src="images/image_1.jpg"><div class="camera_caption">The text of your caption</div></div>
    <div data-src="images/image_2.jpg"><div class="camera_caption">The text of your caption</div></div>
    <div data-src="images/image_3.jpg"><div class="camera_caption">The text of your caption</div></div-->
  	<!--div id="slideShowItems"></div-->