
<form class="form-search">
    <div class="dropdown btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Access
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <form>
        <li>
        	<div class="input-prepend">
				<span class="add-on">user</span>
				<input id="username-field"  type="text" class="input-medium search-query">
    		</div>
    	</li>
    	<li>
    		<div class="input-prepend">
				<span class="add-on">&nbsp;pwd</span>
				<input id="password-field"  type="password" class="input-medium search-query">
    		</div>
    	</li>
        <li><button id="login-button" type="submit" class="btn btn-primary">Login</button></li>
        <li>
        	<a href="#myModal" id="register-button" role="button" class="btn" data-toggle="modal">Register</a>
        </li>
      </form>
    </ul>
</div>
</form>
