<div class="row-fluid"><div class="span12">
<form class="form-search">
	<div class="input-prepend">
		<span class="add-on">user</span>
		<input id="username-field" type="text" class="input-medium search-query">
    </div>
    <div class="input-prepend">
		<span class="add-on">pwd</span>
		<input id="password-field"  type="password" class="input-medium search-query">
    </div>
    <button id="login-button"  type="submit" class="btn btn-primary">Login</button>
    <button id="logout-button"  type="submit" class="btn btn-primary">Logout</button>
</form>
</div></div>