
<form class="form-search">
    <div class="dropdown btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        User
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <form>
        <li><button id="logout-button" type="submit" class="btn btn-primary">Logout</button></li>
      </form>
    </ul>
</div>
</form>
