		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-th-list"></span> </a>
					<a href="#" class="brand">Gradara</a>
					<div class="nav-collapse collapse">
						<ul class="nav" id="menu-list">
							<li>
								<section id="login-section">
									<div id="login"></div>
								</section>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>