	register...
<form>
	<div id="registerFirstName" class="control-group">
      <label class="control-label" for="inputInfo">First name:</label>
      <div class="controls">
        <input type="text" name="first_name" id="reg_first_name">
        <span class="help-inline"></span>
      </div>
    </div>
    <div id="registerLastName" class="control-group">
      <label class="control-label" for="inputInfo">Last name:</label>
      <div class="controls">
        <input type="text" name="last_name" id="reg_last_name">
        <span class="help-inline"></span>
      </div>
    </div>
	<div id="registerEmail" class="control-group">
      <label class="control-label" for="inputInfo">Email:</label>
      <div class="controls">
        <input type="text" name="email" id="reg_email">
        <span class="help-inline"></span>
      </div>
    </div>
	<div id="registerUsername" class="control-group">
      <label class="control-label" for="inputInfo">Username:</label>
      <div class="controls">
        <input type="text" name="username" id="reg_username">
        <span class="help-inline"></span>
      </div>
    </div>
    <div id="registerPassword" class="control-group">
      <label class="control-label" for="inputInfo">Password:</label>
      <div class="controls">
        <input type="password" name="password" id="reg_password">
        <span class="help-inline"></span>
      </div>
    </div>
    <div id="registerConfirmPassword" class="control-group">
      <label class="control-label" for="inputInfo">Confirm password:</label>
      <div class="controls">
        <input type="password" name="confirm_password" id="reg_confirm_password">
        <span class="help-inline"></span>
      </div>
    </div>
	<input id="registerSubmit" type="submit" value="Submit">
</form> 